/************ Tag SELECTORS *********************/
body {
  background-color: #008891;
  text-align: center;
  font-family: sans-serif;
}
hr {
  width: 348px;
  position: relative;
  bottom: -10px;
  margin: 0;
}
table {
  margin: auto;
  text-align: center;
  border-collapse: collapse;
}
td {
  padding: 0 10px 0 10px;
}
tr {
  padding: 0;
}
/***************** CLASS SELECTORS *************/
.body-t {
  position: absolute;
  right: 200px;
  bottom: 400px;
}
.body-b {
  position: absolute;
  top: 250px;
  left: 200px;
}
.card {
  margin: 20% auto;
  width: 350px;
  height: 400px;
  border-radius: 1em;
  background-color: white;
}
.card-t {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.profile {
  height: 110px;
  width: 110px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  margin: auto;
  position: relative;
  bottom: 50px;
}
.name {
  position: relative;
  margin: 0;
  bottom: 70px;
}
.person {
  margin-top: 20px;
  padding: 0;
  font-weight: bolder;
  font-size: 25px;
}
.location {
  position: relative;
  margin: 0;
  font-weight: lighter;
  bottom: 10px;
}
.age {
  font-weight: lighter;
}
.stats {
  position: relative;
  bottom: 70px;
}
.numbers {
  font-weight: lighter;
}
.titles {
  height: 10px;
}
